 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color:aqua;
  position; center;
  width: 70%;
  height: 90px;
}

.title {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;q
}


.nav {
  color: snow;
  list-style: none;
  justify-content: space-around;
  display: flex;
  margin-top: 30px;
}

.homepage {
  width: 70px;
  height: auto;
}

.bookmark {
  width: 40px;
  height: auto;
}

.profile {
  width: 40px;
  height: auto;
}

.question-box {
  border: red 1px;
  background-color:aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 100px;
  width: auto;
  height: 300px;
  position: relative;
}

.bookmark {
  width: 50px; 
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  
}

.question {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 60px;
  margin-bottom: 40px;
}

.answer {
  background-color:black;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  font-size: 15px;
}

.answer:hover {
  padding: 20px 32px;
  color:aqua;
}

.hashtags {
  display: flex;
  gap: 2px;
  list-style: none;
  justify-content: flex-start;
  position: absolute;
  left: 10%;
  bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: coral;
}

.hashtag-item {
  background-color: aquamarine;
  padding: 7px 14px;
}
