body {
  text-align: center;
  margin: o;
  padding: 0;
  background-color: blackwhite;
}

#quizapp {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 550px;
  background-color: rgb(67, 178, 146);
  border-color: aqua;
  border-style: double;
}
.box-title {
  display: flex;
  text-align: center;

  background-color: rgb(68, 194, 229);
  font-family: monospace;
  color: rgb(3, 8, 8);
}

.container {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 300px;
  height: 450px;
  background-color: rgb(68, 194, 229);
  border-radius: 10px;
}
