* {
  text-align: center;
  margin: o;
  padding: 0;
  background-color: white;
}

#quizapp {
  position: absolute;
  width: 400px;
  height: 570px;
  background-color: rgb(67, 178, 146);
  border-color: aqua;
  border-style: double;
}
.box-title {
  text-align: center;

  background-color: rgb(68, 194, 229);
  font-family: monospace;
  color: rgb(3, 8, 8);
}

.container {
  position: relative;
  margin: auto;

  width: 370px;
  height: 460px;
  background-color: rgb(68, 194, 229);
}

.footer {
  position: relative;
  margin: auto;
  background-color: darkturquoise;
  width: 370px;
  height: 30px;
}
